#intro {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  .info {
    padding-top: 120px;
    display: grid;
    gap: 80px;

    .tags {
      display: flex;
      gap: 16px;

      justify-content: center;
    }
  }
}
.header {
  display: grid;
  place-items: center;

  .avatar {
    margin-bottom: 56px;
  }
  .text {
    text-align: center;

    .subtitle {
      margin-bottom: 8px;
    }

    .title-lg {
      margin-bottom: 20px;
    }
  }
}
