#projects {
  .header {
    padding-top: 72px;
    gap: 8px;
  }
  .acervo {
    margin-top: 56px;
  }

  .card {
    padding: 12px;
    border-radius: 12px;
    background-color: var(--gray-300);
    border: 1.5px solid var(--gray-300);
    img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    p:nth-child(1) {
      padding-bottom: 8px;
    }
  }

  .card:hover {
    border: 1.5px solid var(--gray-400);
  }
}
