#services {
  background-color: var(--gray-100);
  padding: 88px 120px 120px 120px;
  height: 480px;

  header {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin-bottom: 56px;
  }

  .cards {
    display: flex;
    justify-content: center;
  }

  .card {
    border: 2px solid var(--gray-200);
    border-radius: 12px;
    width: 280px;
    height: 155px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p:nth-child(1) {
      margin-bottom: 8px;
    }

    img {
      width: 48px;
    }
  }
}
